
{% extends "topic_base.html" %}

{% load static %}

{% block title %}web{% endblock %}

{% block subject %}web{% endblock %}

{% block date %}2024-09-26{% endblock %}

{% block content %}
<h1>Hi</h1>
{{msg}}
{% endblock %}
{% block comments %}
<h3>user said:</h3>
<h4>nice token</h4>

<h3>user said:</h3>
<h4>nice token</h4>

<h3>user said:</h3>
<h4>nice token</h4>

<h3>user said:</h3>
<h4>nice token</h4>

<h3>user said:</h3>
<h4>comments worked</h4>
{% endblock %}
